{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/accueil.css">
{% endblock %}

{% block body %}

	<h1>Accueil en cours...</h1>

	<section>
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for article in listeArticles %}
					<div class="col">
						<article class="article">
							<h2>{{article.titre}}</h2>
							<div>
								<p>Par
									{{article.auteur.prenom}}
									{{article.auteur.nom}}, le
									{{article.date | date('d M Y')}}</p>
							</div>
							<div class="image"><img style="height:225px;width:100%" src="/uploads/{{article.image}}"/></div>
							<p>{{article.description | slice(0,200)}}</p>
							<p>{{pluralize(article.commentaires | length, "un commentaire", "%d commentaires", "aucun commentaire")}}</p>
							<a href="{{path('lire_article', {id:article.id})}}" class="btn btn-sm btn-outline-secondary">Lire la suite</a>
						</article>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
